body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  height: 100vh;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
 
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.productCard {
  height: 80px;
  width: 60px;
 
}

.product-Container{
  display: flex;
  padding: 2rem;
}

.product-image {
  width: 60px;
  height: 50px;
}

.desc{
  position: absolute;
  width: 200px;
  top: 250px;
  background-color: black;
  color: white;
  padding: 1rem;
}

.products {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  margin-bottom: 250px; 
}